<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <div class="register">
        <h1>Register</h1>
        <div class="links">
            <a href="http://127.0.0.1:5008/login">Login</a>
            <a href="http://127.0.0.1:5008/register" class="active">Register</a>
        </div>
        <form action="http://127.0.0.1:5009/register-user" method="post" autocomplete="off">
            <div class="input-field">
                <label for="firstname">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="firstname" placeholder="First Name" id="firstname" required>
            </div>
            <div class="input-field">
                <label for="lastname">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="lastname" placeholder="Last Name" id="lastname" required>
            </div>
            <div class="input-field">
                <label for="age">
                    <i class="fas fa-birthday-cake"></i>
                </label>
                <input type="number" name="age" placeholder="Age" id="age" required>
            </div>
            <div class="input-field">
                <label for="username">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="username" placeholder="Username" id="username" required>
            </div>
            <div class="input-field">
                <label for="password">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" name="password" placeholder="Password" id="password" required>
            </div>
            <div class="input-field">
                <label for="email">
                    <i class="fas fa-envelope"></i>
                </label>
                <input type="email" name="email" placeholder="Email" id="email" required>
            </div>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>
